# Mission to Mars - Scraping

In [1]:
# Dependencies
import time
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd

In [2]:
# Use Splinter
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

### Nasa Mars News

In [39]:
# URL of page to be scraped
nasa_url = 'https://mars.nasa.gov/news'
browser.visit(nasa_url)

In [43]:
# Create HTML object
nasa_html = browser.html
# Parse HTML with BeautifulSoup
nasa_soup = bs(nasa_html, "html.parser")

In [44]:
# Collect the latest News Title
news_title = nasa_soup.find('div', class_="content_title").text.strip()
news_title

'InSight Is the Newest Mars Weather Service'

In [47]:
# Collect the latest Paragraph text
news_p = nasa_soup.find('div', class_="article_teaser_body").text.strip()
news_p

"By collecting data around the clock, NASA's lander will provide unique science about the Martian surface."

### JPL Mars Space Images - Featured Image

In [62]:
# URL of page to be scraped
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(jpl_url)

In [63]:
# Use Splinter to locate image url
browser.click_link_by_partial_text("FULL IMAGE")
time.sleep(10)
browser.click_link_by_partial_text("more info")

In [64]:
# Create HTML object
jpl_html = browser.html
# Parse HTML with BeautifulSoup
jpl_soup = bs(jpl_html, "html.parser")

In [69]:
# Find image url
image_path = jpl_soup.find('figure', class_='lede').a['href']
featured_image_url = "https://www.jpl.nasa.gov/" + image_path
featured_image_url

'https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA19039_hires.jpg'

### Mars Weather

In [74]:
# URL of page to be scraped
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(weather_url)

In [75]:
# Create HTML object
weather_html = browser.html
# Parse HTML with BeautifulSoup
weather_soup = bs(weather_html, "html.parser")

In [77]:
# Scrape the latest Mars weather tweet
mars_weather = weather_soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text.strip()
mars_weather

'InSight sol 81 (2019-02-17), high -17/2F, low -95/-138F, pressure at 7.23hPa, winds from the WNW at 12 mph gusting to 37.8 mph\n\nWelcome to the Mars Weather team @NASAInSight!\nhttps://mars.nasa.gov/insight/weather/\xa0…pic.twitter.com/SH12FvcMfv'

### Mars Facts

In [80]:
# URL of page to be scraped
facts_url = 'https://space-facts.com/mars/'

In [89]:
# Scrape tabular data
tables = pd.read_html(facts_url)
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [90]:
# Convert to DataFrame
facts_df = tables[0]
facts_df.columns = ['Fact', 'Value']
facts_df.set_index('Fact', inplace=True)
facts_df

                                              Value
Fact
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [92]:
# Convert to HTML table string
facts_html_table = facts_df.to_html()
facts_html_table = facts_html_table.replace('\n', '')
facts_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Fact</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [95]:
# Save table to HTML file
facts_html_file = facts_df.to_html('facts_table.html')

### Mars Hemispheres

In [3]:
# URL of page to be scraped
usgs_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(usgs_url)

In [4]:
# Create HTML object
usgs_html = browser.html
# Parse HTML with BeautifulSoup
usgs_soup = bs(usgs_html, "html.parser")

In [9]:
#Create dictionaries to hold data
hemisphere_dict = {"title": [] , "img_url": []}
hemisphere_img_urls = []

#Use loop to get title, img_url
results = usgs_soup.find_all("h3")

for result in results:
    title = result.text
    
    browser.visit(usgs_url)
    
    browser.click_link_by_partial_text(title)
    
    time.sleep(10)
    
    img_url = browser.find_link_by_partial_href("download")["href"]
    
    hemisphere_dict = {"title": title, "img_url": img_url}
    
    hemisphere_img_urls.append(hemisphere_dict)
    
print(hemisphere_img_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]